/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/* CSS rules to specify families: */
/* font-family: 'Megrim', cursive; */

body{
	background: url(resources/720p_background.mp4) no-repeat center center fixed;
	background-size: cover;
}

#bgVideo{
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.logo{
	top: 45%;
    left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
	text-align: center;
	padding: none;
}

h1{
	font-family: 'Megrim', cursive;
	color: #fff;
	font-size: 15vw;
}

.link{
	font-family: 'Megrim', cursive;
	color: #fff;
	font-size: 3vw;
	text-decoration: none;
	transition: background-color 0.5s ease;
	padding-left: 1vw;
	padding-right: 1vw;
}

.link:hover{
	color: #b5b5b5;
	transition: color 0.5s ease;
}